@page
@model EMS.Pages.LineReactors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LineReactor[0].MVARCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineReactor[0].LineReactorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineReactor[0].Element)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineReactor[0].Line)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LineReactor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MVARCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineReactorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Element.ElementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Line.LineId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LineReactorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LineReactorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LineReactorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
