@page
@model EMS.Pages.SVCs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SVC[0].SVCName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SVC[0].SVCNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SVC[0].Element)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SVC[0].Bus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SVC) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SVCName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SVCNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Element.ElementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bus.BusId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SVCId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SVCId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SVCId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
