@page
@model EMS.Pages.BusReactors.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BusReactor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusReactor.MVARCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusReactor.MVARCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusReactor.Bus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusReactor.Bus.ElementType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusReactor.ElementType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusReactor.ElementType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusReactor.ElementNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusReactor.ElementNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusReactor.CommissioningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusReactor.CommissioningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusReactor.DecommissioningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusReactor.DecommissioningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusReactor.Substation1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusReactor.Substation1.SubstationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusReactor.Substation2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusReactor.Substation2.SubstationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BusReactor.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusReactor.Region.RegionId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BusReactor.ElementId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
