@page
@model EMS.Pages.Lines.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Line</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.LineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.LineType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.CircuitNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.CircuitNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.LineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.LineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.ConductorType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.ConductorType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.AutoReclosure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.AutoReclosure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.LineCircuitName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.LineCircuitName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.SendingEndSPS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.SendingEndSPS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.ReceivingEndSPS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.ReceivingEndSPS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.FirstChargingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.FirstChargingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.Element)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.Element.ElementId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.FromBus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.FromBus.BusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.ToBus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.ToBus.BusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Line.Voltage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Line.Voltage.VoltageId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Line?.LineId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
