@page
@model EMS.Pages.Compensators.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Compensator</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Compensator.PercentageVariableCompensation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compensator.PercentageVariableCompensation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Compensator.PercentageFixedCompensation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compensator.PercentageFixedCompensation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Compensator.ElementType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compensator.ElementType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Compensator.ElementNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compensator.ElementNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Compensator.CommissioningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compensator.CommissioningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Compensator.DecommissioningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compensator.DecommissioningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Compensator.Substation1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compensator.Substation1.SubstationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Compensator.Substation2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compensator.Substation2.SubstationId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Compensator.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Compensator.Region.RegionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Compensator?.ElementId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
