@page
@model EMS.Pages.FilterBanks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilterBank[0].MVARCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilterBank[0].IsSwitchable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilterBank[0].Voltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilterBank[0].Element)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FilterBank) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MVARCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSwitchable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voltage.VoltageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Element.ElementId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FilterBankId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FilterBankId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FilterBankId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
