@page
@model EMS.Pages.Buses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bus[0].BusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bus[0].BusTypeEnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bus[0].BusType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bus[0].Element)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusTypeEnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Element.ElementId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BusId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BusId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
